<h2>Tempo API data</h2>

<div class="form-container-normal self-center-horizontally">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <mat-form-field>
      <label>
        <input matInput placeholder="Tempo API token" type="password" formControlName="tempo_token"/>
      </label>
      <mat-error *ngIf="form.get('tempo_token').hasError('required')">This is a required field</mat-error>
    </mat-form-field>

    <mat-form-field>
      <label>
        <input matInput placeholder="Jira account ID" type="text" formControlName="jira_account_id"/>
      </label>
      <mat-error *ngIf="form.get('jira_account_id').hasError('required')">This is a required field</mat-error>
    </mat-form-field>

    <button class="form-submit" mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</div>
