<h2>Login</h2>

<div class="form-container-normal self-center-horizontally fade-in">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <label>
        <input matInput
               placeholder="Please enter value..."
               type="email"
               formControlName="email"
               required
               autocomplete="email"/>
      </label>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">This is a required field</mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('email')">Please enter valid email address</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <label>
        <input matInput
               placeholder="Please enter value..."
               type="password"
               formControlName="password"
               required
               autocomplete="current-password"/>
      </label>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">This is a required field</mat-error>
    </mat-form-field>

    <button class="form-submit" mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">
      Login
    </button>
  </form>

  <br>
  <p>Do not have an account?</p>
  <a mat-raised-button routerLink="../register">Register</a>
</div>
