<div class="teams container-large self-center-horizontally fade-in">
  <mat-list role="list">
    <div mat-subheader>Owned teams</div>
    <mat-list-item *ngFor="let team of ownedTeams">
      <mat-icon mat-list-icon>people</mat-icon>
      <h3 mat-line>{{ team.name }}</h3>
      <p mat-line>Reports at: {{ team.report_time }}</p>
      <div class="actions actions-compact" fxShow.xs="true" fxHide.gt-xs="true">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            View
          </button>
          <button mat-menu-item (click)="openTeamEditView(team.id)">
            Edit
          </button>
          <button mat-menu-item (click)="deleteTeam(team.id, team.name)">
            Delete
          </button>
        </mat-menu>
      </div>
      <div class="actions actions-expanded" fxFlex="1 1 100%" fxHide.xs="true">
        <button mat-button>View</button>
        <button mat-button (click)="openTeamEditView(team.id)">Edit</button>
        <button mat-button color="warn" (click)="deleteTeam(team.id, team.name)">Delete</button>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<button mat-fab color="accent" class="add-team-fab" (click)="openCreateTeamView()">
  <mat-icon>add</mat-icon>
</button>
