/* You can add global styles to this file, and also import other style files */

// regular style toast
@import '~ngx-toastr/toastr';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  width: 100%;
}

// Misc
.space-filler {
  flex: 1 1 auto;
}

.content {
  text-align: center;
  padding: 2em;
}

.self-center-horizontally {
  margin: 0 auto;
}

.fade-in {
  animation: fade 1s;
}

// Forms
.form {
  &-container {
    &-normal {
      max-width: 30em;
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  & > * {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }
}

// Notifications
.toast-container {
  .ngx-toastr {
    box-shadow: none;
  }
}

// Tabs
.mat-tab-body.mat-tab-body-active {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
